/* ====================================================================================*/
/* ==================================================================================== */
/* MEDIA QUERY STYLES FOR TABLET AND LARGER MOBILE PHONE SCREENS (from 768px to 1024px) */
/* ==================================================================================== */
/* ======================= =↓=↓=↓=↓=↓=↓=↓=↓=↓=↓=↓=↓=↓=↓=↓=↓=↓=↓=↓= =====================*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.game-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px;
		/* gap: 30px; */
	}

	.left-panel,
	.right-panel {
		/* width: 100%; */
		align-items: center;
		text-align: start;
	}

	.right-panel {
		align-items: left;
		margin-top: 0;
	}
	.game-title {
		margin-top: 50px;
	}

	canvas {
		width: 450px;
		height: 450px;
	}

	.stat-bar {
		width: 350px;
		height: 16px;
	}

	.button-container button {
		font-size: 10px;
		padding: 8px 12px;
	}

	.stats {
		align-items: start;
	}
}

/* ================================================================================ */
/* ================================================================================ */
/* MEDIA QUERY STYLES FOR MOBILE PHONE SCREENS (up to 768px ) */
/* ================================================================================ */
/* ==================== =↓=↓=↓=↓=↓=↓=↓=↓=↓=↓=↓=↓=↓=↓=↓=↓=↓=↓=↓= ===================*/
@media screen and (max-width: 767px) {
	.game-container {
		/* display: grid !important; */
		grid-template-columns: 1fr;
		justify-items: center;
		padding: 30px;
	}

	.left-panel,
	.right-panel {
		/* width: 100%; */
		justify-items: center;
		align-items: center;
		text-align: left;
	}
	.right-panel {
		margin-top: 0;
	}
	.right-panel-inner {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
	}

	.game-title {
		font-size: 32px;
		margin-top: 50px;
	}

	#displayLevel {
		font-size: 12px;
	}
	canvas {
		width: 450px;
		height: 450px;
	}

	.stat-bar {
		width: 150px;
		height: 16px;
	}
	.stats p {
		font-size: 12px;
	}

	.button-container button {
		font-size: 10px;
		padding: 2px 4px;
	}
	.button-container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px;
		justify-content: center;
		margin-top: 0;
	}

	.stats {
		text-align: left;
	}
	.close-btn {
		position: absolute;
		margin: 30px;
		left: 5px;
		width: 32px;
		height: 32px;
		border-radius: 20%;
		background-color: red;
		border: 3px dotted rgb(0, 0, 0);
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.minimize-btn {
		position: absolute;
		margin: 30px;
		left: 40px;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background-color: yellow;
		border: 1px solid rgb(138, 138, 138);
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.fullscreen-btn {
		position: absolute;
		margin: 30px;
		left: 80px;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background-color: green;
		border: 1px solid rgb(138, 138, 138);
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: rotate(45deg);
	}

	.backBtn {
		position: absolute;
		/* margin: 30px; */
		right: 10px;
		cursor: pointer;
		text-decoration: none;
	}

	.music-toggle {
		position: absolute;
		margin: 30px;
		top: 80px;
		right: 10px;
		background: none;
		border: none;
		cursor: pointer;
		font-size: 32px;
		color: inherit;
		padding: 0;
		opacity: 1;
		transition: transform 0.2s ease-in-out;
	}
	.start-screen-container {
		padding: 20px 10px;
		border-radius: 10px;
	}
	.start-screen-container h1 {
		font-size: 32px;
	}
	#dev-name {
		font-size: 20px;
	}
	#userInput {
		max-width: 80%;
	}
}
